<footer>
<div class="row">
  <div class="col-lg-6 col-md-5 col-sm-4 offset-md-3 pt-4">
    <h1 id="headline" class="text-center">Write our State representatives to advocate for change!</h1>
  </div>
<div class="container">
  <div class="row">
    <div class="col">
      <p id="words" class="mx-3">
        It is important for policymakers and community leaders in Austin and other cities to address the legacy of redlining and its impacts on environmental health. This can include investing in affordable housing and healthy food options in redlined neighborhoods, fixing superfund zoning, incentivizing cleaner transportation, testing water and air in these areas regularly, as well as implementing policies to prevent discrimination in the housing and lending markets. Only by addressing the root causes of inequality and poor health can we create a more equitable and healthy city for all residents of Austin. Please use this contact portal below to write a letter to your representative. Please detail what Redlining is, some of the health effects, which can be found on the research page, and a short description of some ideas you may have to bridge the gap and help restore these communities.
      </p>
    </div>
  </div>
</div>
<!-- Wrapper container -->
<div class="container col-lg-6 col-md-5 col-sm-4 offset-md-3 pt-4">

  <!-- Bootstrap 5 starter form -->
  <form id="contactForm">

    <!-- Name input -->
    <div class="mb-3">
      <label class="form-label" for="name">Name</label>
      <input class="form-control" id="name" type="text" placeholder="Name" />
    </div>

    <!-- Email address input -->
    <div class="mb-3">
      <label class="form-label" for="emailAddress">Representative's Email Address</label>
      <input class="form-control" id="emailAddress" type="email" placeholder="Email Address" />
    </div>

    <!-- Message input -->
    <div class="mb-3">
      <label class="form-label" for="message">Message</label>
      <textarea class="form-control" id="message" type="text" placeholder="Message" style="height: 10rem;"></textarea>
    </div>

    <!-- Form submit button -->
    <div class="d-grid">
      <button class="btn btn-danger btn-lg" type="submit">Submit</button>
    </div>

  </form>

</div>
<p id="legal" class="center-block text-center">
  <small>&copy; <span class="copyright-year"></span>
  A class project by Mason Janse.
</p>
</footer>
