<footer>
<div class="row">
  <div class="col-lg-6 col-md-5 col-sm-4 offset-md-3 pt-4">
    <h1 id="story-title" class="text-center">Write our State representatives to advocate for change!</h1>
  </div>
</div>
<!-- Wrapper container -->
<div class="container py-4">

  <!-- Bootstrap 5 starter form -->
  <form id="contactForm">

    <!-- Name input -->
    <div class="mb-3">
      <label class="form-label" for="name">Name</label>
      <input class="form-control" id="name" type="text" placeholder="Name" />
    </div>

    <!-- Email address input -->
    <div class="mb-3">
      <label class="form-label" for="emailAddress">Representative's Email Address</label>
      <input class="form-control" id="emailAddress" type="email" placeholder="Email Address" />
    </div>

    <!-- Message input -->
    <div class="mb-3">
      <label class="form-label" for="message">Message</label>
      <textarea class="form-control" id="message" type="text" placeholder="Message" style="height: 10rem;"></textarea>
    </div>

    <!-- Form submit button -->
    <div class="d-grid">
      <button class="btn btn-danger btn-lg" type="submit">Submit</button>
    </div>

  </form>

</div>
<p id="legal" class="center-block text-center">
  <small>&copy; <span class="copyright-year"></span>
  A class project by Mason Janse.
</p>
</footer>
