{% extends '_templates/base.njk' %}

{% block content %}
<div id="carouselExampleControls" class="m-5 carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="img/fullmapgreen.jpg" class="d-block w-100" alt="map of Austin, Texas showing greenlined area">
    </div>
    <div class="carousel-item">
      <img src="img/statsgreen.jpg" class="d-block w-100" alt="statistics of greenlined area in Austin, Texas">
    </div>
    <div class="carousel-item">
      <img src="img/fullmapred.jpg" class="d-block w-100" alt="map of Austin, Texas showing redlined area">
    </div>
    <div class="carousel-item">
      <img src="img/statsred.jpg" class="d-block w-100" alt="statistics of redlined area in Austin, Texas">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <h4 class="text-center">Source</h4>
      <p class="text-center">All photos are from the Social Vulnerability Index.</p>
    </div>
<div>
  <h1 id="headline" class"text-center">Research</h1>
  <p id="words">
    Using the historic maps drawn by the FHA in Austin, we can overlay current Human Health data and see some shocking differences in the redlined neighborhoods.
  </p>
  <img src="../img/screenshot.jpeg" alt="chart" class="center" style="width:1150px;height:725px;">
  <p id="words">
    There are some very clear trends seen in this chart. Even in our own backyard, the legacy of redlining and the health disparities it has caused are still plaguing our city and our vulnerable communities. Because of the proximity to superfund and toxic facilities, highways, and lack of green space, we have built an unfair and unhealthy city. Austin’s redlined residents have a life expectancy of 10 years less than their greenlined counterparts. Many of the illnesses are the exact culprits discussed over and over again with environmental health pollutants. Cancers, respiratory issues, and heart disease are all on the list. Although concentrated poverty and lack of access to healthcare are also contributors to lower life expectancy, environmental toxins seem to be a likely culprit.</p>
{% endblock %}